body {
  background-color: #f8f9fa;
}

.card img {
  height: 180px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}